trigger:
- main
pool:
  name: eric

variables:
  imageRepository: 'myericssonacr'                  # ACR repo name
  dockerRegistryServiceConnection: 'docker' # ADO me ACR service connection ka naam
  containerRegistry: 'myericssonacr.azurecr.io'     # ACR login server
  tag: '$(Build.BuildId)'

  kubernetesServiceConnection: 'aks'        # jo tu ne KubeConfig se banaya
  namespace: 'default'

stages:

# ===================== CI : BUILD & PUSH =====================
- stage: Build
 
  displayName: Build and Push Image
  jobs:
  - job: BuildAndPush

    steps:
    - checkout: self

    - task: Docker@2
      displayName: Build and Push Image to ACR
      inputs:
        containerRegistry: '$(dockerRegistryServiceConnection)'
        repository: '$(imageRepository)'
        command: 'buildAndPush'
        Dockerfile: 'Dockerfile'
        tags: |
          $(tag)

# ===================== CD : DEPLOY TO AKS =====================
- stage: Deploy
  displayName: Deploy to AKS
  dependsOn: Build
  jobs:
    - job: deploy
      steps:
          - task: KubernetesManifest@1
            displayName: Deploy to AKS
            inputs:
              action: 'deploy'
              kubernetesServiceConnection: '$(kubernetesServiceConnection)'
              namespace: '$(default)'
              manifests: |
                deployment.yaml
                service.yaml
              containers: |
                $(containerRegistry)/$(imageRepository):$(tag)





  